.content {
  /* border: 3px solid black; */
  min-height: calc(100vh - 4rem);
  padding: 2rem 0;
  display: grid;
  align-items: center;
}

.mainContent {
  /* border: 3px solid red; */
}

.yourProfile {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

.yourProfile > * {
  /* border: 3px solid black; */
}

.pp {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.profileInfo {
  text-align: center;
}
.profileControl {
  color: #015792;
}

.profileControl > p {
  word-wrap: break-word;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto 0.5rem auto;
}

.infoSide {
  text-align: center;
  color: #015792;
}

.infoText {
  text-align: center;
  margin: 1rem auto;
  font-size: 1.2rem;
}

.formSide {
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.inputSelf {
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  border: 1px solid #8eb2e1;
  /* border: 1px solid #ebecee; */
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #015792;
}

.inputSelf:focus {
  outline: 1px solid #1877f2;
}

.invalidInput {
  border: 3px solid red;
}

.passwordValidation {
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  border: 3px solid red;
  /* border: 1px solid #ebecee; */
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #015792;
}

.passwordValidation:focus {
  outline: 1px solid #1877f2;
}

.submitBtn {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 1rem;
}

.formValid {
  border: 3px solid green;
}

.inputInfo {
  font-weight: bolder;
  color: #015792;
  margin-bottom: 0.2rem;
  display: block;
}
.formValid {
  border: 3px solid green;
}

.resetBtn {
  background-color: #42b72a;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}
.resetBtn:hover {
  background: #389c24;
}

.cancelBtn {
  cursor: pointer;
  color: white;
  /* background-color: #1877f2; */
  background: red;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: none;
  font-weight: bolder;
}

.cancelBtn:hover {
  background: rgb(214, 0, 0);
}

@media screen and (min-width: 768px) {
  .mainContent {
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 3rem;
  }
  .mainContent > * {
    /* border: 3px solid red; */
  }
}

@media screen and (min-width: 576px) {
  .pp {
    margin: 0;
  }
  .yourProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .pp {
    margin: 0 auto;
  }
  .yourProfile {
    flex-direction: column;
  }
}

@media screen and (min-width: 968px) {
  .formSide {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 978px) {
  .mainContent {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1170px) {
  .pp {
    margin: 0;
  }
  .yourProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
  }
}
