.main {
  /* border: 3px solid black; */
  height: calc(100vh - 5rem);
}
.mainContent {
  /* border: 3px solid red; */
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.formController > input {
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  border: 1px solid #ebecee;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.formController > input:focus {
  outline: 1px solid #1877f2;
}

.submitBtn {
  text-align: center;
}

.submitBtn > button {
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.submitBtn > button:hover {
  background-color: #0054c1;
}

.dot {
  color: rgb(184, 184, 184);
}

.otherLink {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.3rem;
}

.changeLink {
  color: #1877f2;
}
.changeLink:hover {
  color: #0404d8;
}
