.main {
  min-height: calc(100vh - 4rem);
  display: grid;
  align-items: center;
  padding: 1.5rem 0;
}
.mainContent {
  width: 90vw;
  max-width: 1270px;
  margin: 0 auto;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.formSide {
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: white;
  padding: 2rem;
}
.submitting {
  opacity: 0.6;
  cursor: no-drop;
  pointer-events: none;
}
.input {
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  border: 1px solid #8eb2e1;
  /* border: 1px solid #ebecee; */
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #015792;
}

.input:focus {
  outline: 1px solid #1877f2;
}

.invalidInput {
  border: 3px solid red;
}

.loginBtn {
  text-align: center;
}
.loginBtn > button {
  /* background: #1877f2; */
  background: #015792;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.loginBtn > button:hover {
  background-color: #0054c1;
}

.signupLink {
  background-color: #42b72a;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.signupLink:hover {
  background: #389c24;
}

.changeLink {
  margin-top: 0.5rem;
  color: #1877f2;
  display: inline-block;
}
.changeLink:hover {
  color: #0404d8;
}

.otherLinks {
  margin-top: 0.5rem;
  /* border: 3px solid black; */
  text-align: center;
}

.divider {
  height: 2px;
  background: #eceef0;
  width: 100%;
  margin: 1rem auto;
  border-radius: 10px;
}

.oldLogins {
  /* margin-top: 2rem; */
}
.profiles {
  /* border: 3px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* grid-template-rows: 1fr 1fr; */
  gap: 1rem 0.5rem;
  justify-content: center;
  width: 100%;
}
.oneProfile {
  /* border: 3px solid black; */
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
}

.card {
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); */
  transition: all 0.3s ease-in-out;
  border: 2px solid #ebecee;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  /* border: 3px solid red; */
}

.card:hover {
  box-shadow: 0px 5px 15px #015892af;
}

.photo {
  /* border: 3px solid black; */
  height: 100px;
  position: relative;
  border-radius: 10px;
}

.photoSelf {
  /* border: 3px solid red; */
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.closeIcon {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transform: translate(-20%, -20%);
}
.closeIcon > * {
  background-color: white;
  color: black;
  border-radius: 50%;
}

.profileInfo {
  text-align: center;
  color: #015792;
  font-weight: bolder;
}

.nickName {
  color: rgb(120, 120, 120);
  font-weight: normal;
}

.loginInfos {
  text-align: center;
  margin-bottom: 1rem;
  color: #015792;
}

.oldLogins {
  max-width: 350px;
  margin: 0 auto 2rem auto;
}

.loginTitle {
  text-align: center;
  margin-bottom: 1rem;
  color: #015792;
}

.anyInfo {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #015792;
}

.topSide {
  text-align: center;
  border-bottom: 1px solid #0054c1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.topSideHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
  color: #015792;
}

.logoSelf {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 3rem;
  }
  .oldLogins {
    margin-bottom: 0;
  }
  .oldLoginLength {
    display: block;
  }
  .profiles {
    grid-template-columns: 150px 150px;
  }
}

@media screen and (min-width: 978px) {
  .formSide {
    /* padding: 0; */
  }
  .mainContent {
    width: 90%;
  }
}
