.main {
  /* border: 3px solid black; */
  min-height: calc(100vh - 4rem);
  display: grid;
  align-items: center;
  padding: 1.5rem 0;
}
.mainContent {
  /* border: 3px solid red; */
  /* margin: 0 auto; */
  width: 90vw;
  max-width: 1270px;
  margin: 0 auto;
}

.contentRight {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: white;
  padding: 1rem;
}

.formControl > small {
  color: #015792;
}

.signBtn {
  text-align: center;
}
.signBtn > button {
  cursor: pointer;
  background-color: #42b72a;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border: none;
  font-size: 1.1rem;
  font-weight: bolder;
}
.signBtn > button:hover {
  background: #389c24;
}
.signBtn > .sending {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}

.otherLink {
  text-align: center;
  margin-top: 1rem;
}

.changeLink {
  color: #1877f2;
}
.changeLink:hover {
  color: #0404d8;
}

.divider {
  height: 2px;
  background: #eceef0;
  width: 100%;
  margin: 1rem auto;
  border-radius: 10px;
}

.signupTitle {
  text-align: center;
  margin-bottom: 1rem;
}

.cardTop {
  /* border: 3px solid black; */
  text-align: center;
  color: #015792;
}
.cardTop > * {
  /* border: 3px solid red; */
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logoSelf {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.infoText {
  text-align: center;
  margin-bottom: 2rem;
  color: #015792;
}
.leftTopSide {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  border-bottom: 1px solid #0404d8;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #015792;
}

.genderSide {
  /* border: 3px solid black; */
  margin-bottom: 0.3rem;
}

.date {
  cursor: pointer;
}
.info {
  color: #015792;
  font-weight: bolder;
}

.confirmed:focus {
  outline: none;
}
.confirmed {
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: none;
  color: #015792;
  border: 3px solid green;
}
.notConfirmed {
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: none;
  color: #015792;
  border: 3px solid red;
}
.notConfirmed:focus {
  outline: 1px solid #1877f2;
}
.normalInput {
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: none;
  color: #015792;
  border: 1px solid #8eb2e1;
}
.normalInput:focus {
  outline: 1px solid #1877f2;
}
.genderInput {
  /* border: 3px solid red; */
  width: 100%;
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  border: none;
  border: 1px solid #8eb2e1;
  color: #015792;
  cursor: pointer;
}
.genderInput:focus {
  outline: 1px solid #1877f2;
}

.inputFree {
  border: 3px solid red;
}

.birthSide {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .formLayout {
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 0.5rem;
  }
  .formLayout > * {
    /* border: 3px solid red; */
  }
  .mainContent {
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 3rem;
  }
  .mainContent > * {
    /* border: 3px solid red; */
  }
}

@media screen and (min-width: 978px) {
  .mainContent {
    width: 90%;
  }
}

@media screen and (min-width: 1170px) {
  .contentRight {
    padding: 2.5rem;
  }
  .generalInfos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    column-gap: 0.5rem;
  }
  .generalInfos > * {
    height: 100%;
  }
  .birthSide {
    margin-top: 0rem;
  }
}
