.main {
  /* border: 3px solid black; */
  min-height: calc(100vh - 5rem);
  display: grid;
  align-items: center;
  padding: 1.5rem 0;
}
.mainContent {
  /* border: 3px solid red; */
  /* margin: 0 auto; */
  width: 90vw;
  max-width: 1270px;
  margin: 0 auto;
}

.contentRight {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: white;
  padding: 1rem;
}

.formControl > input {
  height: 42px;
  padding: 0 0.3rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: none;
  border: 1px solid #ebecee;
}

.formControl > input:focus {
  outline: 1px solid #1877f2;
}

.confirmed > input {
  border: 3px solid green;
}
.notConfirmed > input {
  border: 3px solid red;
}
.confirmed > input:focus {
  outline: none;
}

.signBtn {
  text-align: center;
}
.signBtn > button {
  cursor: pointer;
  background-color: #42b72a;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border: none;
}

.signBtn > button:hover {
  background: #389c24;
}
.otherLink {
  text-align: center;
  margin-top: 1rem;
}

.changeLink {
  color: #1877f2;
}
.changeLink:hover {
  color: #0404d8;
}

.divider {
  height: 2px;
  background: #eceef0;
  width: 100%;
  margin: 1rem auto;
  border-radius: 10px;
}

.signupTitle {
  text-align: center;
  margin-bottom: 1rem;
}

.cardTop {
  /* border: 3px solid black; */
  text-align: center;
}
.cardTop > * {
  /* border: 3px solid red; */
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logoSelf {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.infoText {
  text-align: center;
  margin-bottom: 2rem;
}
.leftTopSide {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  border-bottom: 1px solid #0404d8;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .formLayout {
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 0.5rem;
  }
  .formLayout > * {
    /* border: 3px solid red; */
  }
  .mainContent {
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 3rem;
  }
  .mainContent > * {
    /* border: 3px solid red; */
  }
}
