.main {
  position: fixed;
  top: 15%;
  /* width: 80vw; */
  z-index: 4;
  background: white;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  color: #015792;
}
.mainContent {
  color: #015792;
  text-align: center;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
  font-weight: bolder;
}

.doneIcon {
  background: green;
  color: white;
  border-radius: 50%;
}

.errorIcon {
  color: red;
}
