.navbar {
  border: 2px solid black;
  height: 5rem;
  background: #e7f4fe;
}
.navbarContent {
  border: 2px solid red;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 1270px;
  margin: 0 auto;
}
.contentLeft {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.contentRight {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.logoutBtn {
  padding: 0.3rem 0.2rem 0 0.2rem;
  background: rgb(218, 218, 218);
  border-radius: 50%;
}
.logoutBtn > * {
  color: black;
}

/* .logoSide {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
} */
.logoSelf {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
}
.menuIcon {
  cursor: pointer;
}

.bigIcon {
  display: none;
}

@media screen and (min-width: 978px) {
  .menuIcon {
    display: none;
  }
  /* .bigIcon {
    display: block;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
  } */
  .logoSelf {
    display: none;
  }
  .navbarContent {
    width: 95%; /* border: 2px solid red; */
    margin: 0 auto;
  }
}
