.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 3;
  width: 80vw;
  max-width: 550px;
  padding: 1.2rem;
  border-radius: 10px;
}

.mainContent {
  color: #015792;
  text-align: center;
}

.errorIcon {
  color: red;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.3rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  column-gap: 0.5rem;
}

.buttons > button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  padding: 0.4rem 0;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.cancelBtn {
  background: red;
  color: white;
}

.doneBtn {
  background: #015792;
  color: white;
}

.cancelBtn:hover {
  background: rgb(225, 0, 0);
}

.doneBtn:hover {
  background: #003f69;
}
