.list {
  /* border: 3px solid black; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
}

.item {
  display: inline-block;
}
.item > * {
  /* border: 3px solid green; */
}
.item {
  /* border: 5px solid #015792; */
  background-color: white;
  height: 440px;
  border-radius: 10px;
  /* padding: 0.1rem 0; */
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  box-shadow: 0px 5px 15px rgba(39, 113, 163, 0.4);
  /* border: 2.5px solid rgb(39, 113, 163); */
  transition: all 0.3s ease-in-out;
}
.item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(39, 113, 163, 1);
}
.durat {
  color: white;
}

.imgs {
  position: relative;
  height: 300px;
}
.imgsSelf {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ppImgSide {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.5rem;
}
.ppImgSelf {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  background: white;
}

.dot {
  color: white;
  padding: 0 0.2rem;
}

.searching {
  margin-bottom: 2rem;
  width: fit-content;
  background: #015792;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1.2rem;
  border-radius: 5px;
}

.searcingCancelBtn {
  border: none;
  margin-left: 0.5rem;
  padding: 0.2rem;
  background-color: #015792;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 5px;
}

.cardTopInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1.2rem;
  margin-bottom: 0.25rem;
  padding: 0.2rem 0.1rem;
  color: #2770a2;
}
.imgInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.9)
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.infoText {
  text-align: center;
  color: #1d6696;
}

.location {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  /* padding: 0.25rem; */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* İki satıra kadar metin göster */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 6em; /* İki satıra kadar metin göster (örnekte 3em kullanıldı) */
  overflow: hidden;
  align-self: flex-start;
  color: #1d6696;
}

.nickName {
  color: white;
}
.pageNumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  margin-top: 2rem;
}

.pageNumbers > * {
}
.prevBtn,
.nextBtn {
  width: 70px;
  border: none;
  background: #015792;
  color: white;
  border-radius: 5px;
  padding: 0.2rem 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activePage {
  background-color: #015792;
  color: white;
  border-radius: 5px;
  width: 25px;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.inactivePage {
  background-color: #529bcb;
  color: white;
  width: 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.lastVisits > div {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}
.lastVisits > div > h4 {
  color: #015792;
}
.tagButton {
  padding: 0.2rem 0.7rem;
  background: white;
  border-radius: 5px;
  color: #015792;
  cursor: pointer;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); */
  /* border: 1px solid gray; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}

.activeTag {
  background-color: #015792;
  color: white;
}

.lastVisits > div > p:hover {
  transform: scale(1.05);
}
