.main {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  margin-left: -5vw;
  padding: 1rem 0 1.5rem 0;
}

.title {
  text-align: center;
  color: #015792;
}

.photoSide {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #015792;
  height: 200px;
}

.photoSide:hover .zoomIcon {
  opacity: 1;
}

.zoomIcon {
  color: white;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.photo {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.photos {
  display: grid;
  grid-template-columns: 1fr;
}

.photoSide:hover .photo {
  opacity: 0.5;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

@media screen and (min-width: 568px) {
  .photos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 978px) {
  .main {
    width: 95%;
    margin: 0 auto;
  }
  .photo {
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
