.main {
  min-height: calc(100vh - 4rem);
  /* border: 3px solid black; */
  width: 100vw;
  margin-left: -5vw;
  padding: 2rem 0;
}
.mainContent {
  /* border: 3px solid red; */
}
.title {
  text-align: center;
  color: #015792;
}

.photoSide {
  /* border: 3px solid red; */
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #015792;
  height: 200px;
}
.photo {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.photos {
  display: grid;
  grid-template-columns: 1fr;
}

.photoSide:hover .photo {
  opacity: 0.5;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

@media screen and (min-width: 568px) {
  .photos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 978px) {
  .main {
    width: 95%;
    margin: 0 auto;
    /* border: 3px solid black; */
  }
  .main > * {
    /* border: 3px solid red; */
  }
  .photo {
    height: 200px;
    object-fit: cover;
  }
}
