.main {
  padding: 2rem 0;
  min-height: calc(100vh - 4rem);
  margin: 0 auto;
}
.mainLess {
  display: grid;
  align-items: center;
}

.main > * {
  width: 90vw;
  max-width: 1370px;
  margin: 0 auto;
}

.loadingContent {
  display: flex;
  justify-content: center;
}

.loading {
  border: 5px dashed #015792;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-animation-name: bigLoading;
  animation-name: bigLoading;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 978px) {
  .main > * {
    width: 95%;
  }
}

@-webkit-keyframes bigLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bigLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
