.main {
  /* border: 3px solid green; */
  min-height: calc(100vh - 5rem);
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.mainContent {
  border: 3px solid black;
  padding: 0.5rem;
  border-radius: 10px;
}
.mainContent > * {
  /* border: 3px solid red; */
}
.cardTop {
  column-gap: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.5rem;
}

.dot {
  color: rgb(184, 184, 184);
}
.ppSide {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.ppSelf {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.places {
  display: flex;
  align-items: center;
}

.info {
  font-size: 0.925rem;
}

.country {
  font-size: 0.75rem;
}

.imgs {
  height: 350px;
  position: relative;
}
.imgSelf {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.buttonSide {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.buttonSelf {
  cursor: pointer;
  width: 1.5rem;
  border-radius: 5px;
  border: none;
  padding: 0.2rem;
  background: #015792;
  color: white;
  font-weight: bolder;
}
.activeBtn {
  color: #015792;
  background-color: white;
}

.likes {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
}
.likes > div:first-child {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}
.likesRight {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}
.likeBtn {
  color: gray;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.editIcon {
  color: gray;
  cursor: pointer;
}
.deleteIcon {
  color: gray;
  cursor: pointer;
}
.bookmarkBtn {
  color: gray;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.liked {
  color: red;
}
.bookmarked {
  color: rgb(236, 211, 73);
}

.commentInfo {
  color: gray;
  cursor: pointer;
  margin: 0.5rem auto;
}

.comments {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  height: 447px;
  overflow-y: scroll;
}
.comments > * {
  /* border: 3px solid red; */
}

/* imgs350px */

@media screen and (min-width: 430px) {
  .imgs {
    height: 400px;
  }
}

@media screen and (min-width: 480px) {
  .imgs {
    height: 450px;
  }
}

@media screen and (min-width: 540px) {
  .imgs {
    height: 500px;
  }
}

@media screen and (min-width: 600px) {
  .imgs {
    height: 550px;
  }
}

@media screen and (min-width: 680px) {
  .imgs {
    height: 650px;
  }
}

@media screen and (min-width: 678px) {
  .mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  .imgs {
    height: 550px;
    /* width: 450px; */
    margin: 0 auto;
  }
  .main {
    padding: 0;
  }
}
