.main {
  /* border: 10px solid red; */
}
.main > * {
  /* border: 3px solid black; */
}
.mainLeft {
  display: none;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  /* border: 3px solid red; */
  width: 100%;
}
.mainContent {
  /* border: 3px solid green; */
  margin-top: 4rem;
}
.content {
  /* border: 3px solid red; */
  min-height: calc(100vh - 5rem);
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  /* padding: 1rem 0; */
}
/* .sideOpen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  z-index: 2;
} */

.addIcon {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.2rem 0rem 0.2rem;
  cursor: pointer;
  background-color: #015792;
  border: 5px solid #6cadd9;
}

@media screen and (min-width: 978px) {
  .mainRight {
    margin-left: 200px;
  }
  .mainContent {
    margin: 4rem auto 0 auto;
  }
  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
  }
  /* .sideOpen {
    display: none;
  } */
  .mainLeft {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background: white;
    z-index: 2;
  }
  .navbar {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
