.main {
  background: tomato;
  color: white;
  border: 3px solid black;
}

.mainContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background: white;
  z-index: 3;
  width: 70vw;
  padding: 1rem;
  border-radius: 10px;
  max-width: 550px;
}

.errorText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  column-gap: 0.2rem;
  color: #015792;
  /* border: 3px solid red; */
}

.errorText > * {
  /* border: 3px solid black; */
}

.errorIcon {
  color: red;
}

.okButton {
  text-align: center;
}

.okButton > button {
  padding: 0.4rem 1.2rem;
  background: #015792;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.okButton > button:hover {
  background: #004572;
}

@media screen and (min-width: 800px) {
  .errorText {
    column-gap: 0.5rem;
  }
  .mainContent {
    padding: 2rem;
  }
}
