.main {
  position: fixed;
  top: 15%;
  /* width: 80vw; */
  z-index: 4;
  background: white;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color: #015792;
}

.infos {
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

.confirmedSide {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.confirmed {
  background-color: #015792;
  color: white;
  border-radius: 50%;
}
.failed {
  background-color: red;
  color: white;
  border-radius: 50%;
}

.mainContent > * {
  /* border: 3px solid red; */
}
