.main {
  border: 3px solid green;
  height: 100%;
  background-color: #f1f5f8;
}
.main > * {
  border: 3px solid red;
  width: 90%;
  margin: 0 auto;
}

.links {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
}
.links > * {
  /* border: 3px solid red; */
}

.link {
  /* border: 3px solid black; */
}
.link > a {
  /* border: 3px solid red; */
  display: grid;
  grid-template-columns: 30px 1fr;
  background: white;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  color: black;
  background: #dedede;
}
a {
  display: inline-block;
}

.link > a:hover {
  background: #c7c7c7;
}

.link > a.active {
  color: red;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: black;
  margin: 2rem auto;
}
