.main {
  height: 100%;
  background-color: white;
  border-right: 3px solid #2872a3;
}
.main > * {
  width: 100%;
  margin: 0 auto;
}
.mainContent {
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.logo {
  height: 4rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.links {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.infoAboutSite {
  padding: 0.5rem;
  color: #2872a3;
  text-align: center;
}

.nonActive {
  display: grid;
  grid-template-columns: 40px 1fr;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;
  color: black;
  background: #dedede;
  background: #2872a3;
  color: white;
  border: 3px solid #2872a3;
}
.nonActivenonActive {
  display: inline-block;
  border: 3px solid #2872a3;
}

.link > a:hover {
  background: white;
  color: #2872a3;
}

.link > a.active {
  display: grid;
  grid-template-columns: 40px 1fr;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.6rem 1rem;
  transition: all 0.3s ease-in-out;
  background: white;
  color: #2872a3;
  border: 3px solid #2872a3;
}

.divider {
  height: 1.5px;
  width: 90%;
  background-color: #2872a3;
  margin: 0.5rem auto 1rem auto;
}

.loginButton {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin: 1rem auto;
  background: #2872a3;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
}

.mainContent {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}

.developer {
  padding: 0.3rem;
  text-align: center;
  color: #2872a3;
  align-self: flex-end;
}
