.side {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  width: 100%;
  min-height: 100vh;
  display: grid;
  align-items: center;
  position: relative;
  border: 3px solid black;
  color: #015792
  z-index: 2; */
}
.side {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 3;
  color: #015792;
}
.sideContent {
  /* border: 5px solid red; */
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  align-items: center;
  overflow-y: auto;
  padding: 1rem 0;
}
.sideContent > * {
  /* border: 3px solid green; */
}
.closeBtn {
  position: absolute;
  top: 2%;
  right: 2%;
  background: red;
  color: white;
  padding: 0.2rem 0.2rem 0 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.iconSide {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
.iconSelf {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.linkControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.divider {
  height: 5px;
  background: #015792;
  width: 50%;
  border-radius: 5px;
  margin: 0 auto 2rem auto;
}

.navLink {
  color: #0054c1;
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
}

.linkControl:first-child {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.linkControl:last-child {
  margin-bottom: 2rem;
}
.info {
  font-weight: bolder;
}
.developer {
  text-align: center;
  margin-top: 1rem;
}

.bottomSide {
  margin-top: 2rem;
}
.socialsTitle {
  text-align: center;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  margin-top: 1rem;
}

.socials > a {
  color: #015792;
}

.generalLinks {
  /* border: 3px solid black; */
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 95%;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
}
.generalLinks > * {
  /* border: 3px dashed #015792; */
  display: flex;
  align-items: center;
  column-gap: 0.1rem;
  color: #015792;
  justify-content: center;
  padding: 0.5rem 0.2rem;
  border-radius: 5px;
}
.activeLink {
  color: red;
  background: #cee2f2;
}
.nonActive {
  background: #cee2f2;
}

@media screen and (min-width: 978px) {
  .side {
    display: none;
  }
}
