.side {
  border: 3px solid black;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}
.sideContent {
  border: 3px solid red;
}
.closeBtn {
  position: absolute;
  top: 2%;
  right: 2%;
  background: red;
  color: white;
  padding: 0.2rem 0.2rem 0 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.iconSide {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
.iconSelf {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
