.main {
  min-height: calc(100vh - 4rem);
  color: rgb(1, 87, 146);
}
.mainContent {
  padding: 2rem 0;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.bookmarks {
  margin-top: 1.5rem;
}

.bookmarks > * {
}
