.main {
  position: fixed;
  top: 15%;
  z-index: 4;
  background: white;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  color: #015792;
  max-width: 250px;
}

.mainContent > div {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  font-weight: bolder;
}

.errorIcon {
  color: red;
}

.doneIcon {
  background-color: green;
  color: white;
  border-radius: 50%;
}
